<section class="content px-0 py-0" [ngClass]="{'px-3 py-4' : checkoutRoute}">
    <div class="container-fluid px-0">
        <div class="header-container-secondary">
            <h1 class="page-heading m-0 p-0">Integrations</h1>
            <img src="/assets/img/card-bg/integration.png" class="img-bg-object" alt="...">
        </div>

        <div class="row">
            <div *ngFor="let integration of integrations" class="col-lg-4 col-md-6 mb-4">

                <div class="card-img-container h-100"
                    *ngIf="!isRetell ||  integration.authenticationPlateform != authenticationPlateformEnumState.Calendly">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div>
                            <div class="d-flex align-items-center gap-2 gap-md-4">
                                <div class="img-container">
                                    <img [src]="integration.image" [alt]="integration.name" style="width: 50px;">
                                </div>
                                <div>
                                    <h4>{{ integration.name }}</h4>
                                    <p class="conntedEmail m-0 p-0" *ngIf="integration.connectedVal?.email">
                                        Synced Email:
                                        <span>
                                            {{integration.connectedVal?.email}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <p>{{ integration.description }}</p>
                        </div>

                        <div>
                            <button class="btn primary-btn" *ngIf="!integration.connectedVal?.email"
                                (click)="integration.action()">Install</button>
                            <button class="btn primary-btn-outline" *ngIf="integration.connectedVal?.email"
                                (click)="integration.action()">Update</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="loader" *ngIf="isLoading"></div>
</section>