<div class="grid-wrapper" [@routerTransition]>
  <div class="rightTopOval"></div>
  <div class="middleBottomOval"></div>
  <img class="rightAbstract" src="/assets/img/Vector.svg" />
  <img class="leftAbstract" src="/assets/img/Vector.svg" />
  <h4 class="pwdText">Powered by <span>Autviz Solutions</span></h4>

  <!-- left -->
  <!-- Image and Content -->
  <div class="leftContainer">

    <div class="logoContainer">
      <img src="../../assets/img/Logo/light-logo.svg" class="d-none d-md-block sidebar-logo light-logo fixlogo"
        alt="Logo">
      <img src="../../assets/img/Logo/dark-logo.svg" class="d-none d-md-block sidebar-logo dark-logo fixlogo"
        alt="Logo" />
    </div>
    <img src="../../assets/img/Logo/dark-logo.svg" class="d-block d-md-none fixlogo" alt="Logo" />


    <div class="accountContent">
      <h4>Smart AI Assistance</h4>
      <p>Unlock the power of AI to automate tasks, manage workflows, and boost productivity effortlessly.</p>
    </div>

    <div class="entryImage-container">
      <img src="/assets/img/account-img.svg" alt="...">
    </div>
  </div>


  <!-- right -->
  <!-- Form Container -->

  <div class="rightContainer">
    <div class="btnContainer d-none d-md-block">
      <app-theme-btn></app-theme-btn>
    </div>

    <div class="form-container">
      <h4 class="mb-3 fw-semibold fw-5">{{ "Reset Password" | localize }}</h4>
      <form class="w-100 mt-4" autocomplete="off" #ResetPasswordForm="ngForm" (ngSubmit)="changePassword()">
        <div class="card-body p-0">
          <div class="modal-body px-0">
            <div class="form-group row required">
              <div class="col-md-12">
                <label class="text-start w-100 col-form-label mb-0" for="newPassword">
                  {{ "NewPassword" | localize }}
                </label>
                <div class="position-relative">
                  <input type="password" class="custom-input" name="newPassword"
                    [type]="hideNewPassword ? 'password' : 'text'" id="newPassword" required minlength="8"
                    maxlength="20" validateEqual="confirmNewPassword" reverse="true"
                    pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$"
                    [(ngModel)]="changePasswordDto.newPassword" #newPasswordModel="ngModel" #newPasswordEl />
                  <span (click)="toggleVisibility('newPassword')"
                    class="show-pass text-color position-absolute curser-pointer eyeBtn "><i class="{{
                  hideNewPassword ? 'fas fa-eye-slash' : 'fas fa-eye'
                }}"></i></span>
                  <abp-validation-summary [control]="newPasswordModel" [controlEl]="newPasswordEl"
                    [customValidationErrors]="newPasswordValidationErrors"></abp-validation-summary>
                </div>
              </div>
            </div>
            <div class="form-group row required">
              <div class="col-md-12">
                <label class="text-start w-100 col-form-label mb-0" for="confirmNewPassword">
                  {{ "ConfirmNewPassword" | localize }}
                </label>
                <div class="position-relative">
                  <input type="password" [type]="hideConfirmPassword ? 'password' : 'text'" class="custom-input"
                    name="confirmNewPassword" id="confirmNewPassword" required minlength="8" maxlength="20"
                    validateEqual="newPassword" reverse="false" ngModel #confirmNewPasswordModel="ngModel"
                    #confirmNewPasswordEl />
                  <span (click)="toggleVisibility('confirmNewPassword')"
                    class="show-pass position-absolute curser-pointer eyeBtn"><i class="{{
                  hideConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'
                }}"></i></span>
                  <abp-validation-summary [control]="confirmNewPasswordModel" [controlEl]="confirmNewPasswordEl"
                    [customValidationErrors]="confirmNewPasswordValidationErrors"></abp-validation-summary>
                </div>
              </div>
            </div>
            <div class="form-group mb-0 pt-1">
              <button type="submit" class="btn gradient-btn btn-block">
                {{ "Submit" | localize }}
              </button>
            </div>
          </div>
        </div>
      </form>
      <p class="mb-1 d-flex align-items-center nothaveaccount text-center fw-normal justify-content-center">
        Don't have an account?
        <a [routerLink]="['../../login']" class="ml-1 fw-500">
          {{ "Login" | localize }}
        </a>
      </p>
    </div>

  </div>
</div>