<section class="px-3 py-4">
    <div class="content-fluid">
        <p-tabView class="tab-view">
            <p-tabPanel header="Plans">
                <app-planselection></app-planselection>
            </p-tabPanel>
            <p-tabPanel header="Top Ups">
                <app-top-ups></app-top-ups>
            </p-tabPanel>
            <p-tabPanel header="Transactions">
                <app-billing-transaction></app-billing-transaction>
            </p-tabPanel>
            <p-tabPanel header="Integration">
                <app-integration></app-integration>
            </p-tabPanel>

        </p-tabView>
    </div>
</section>

<!-- app-top-ups -->