<nav
  class="position-fixed d-flex justify-content-between align-items-center py-2 py-md-3 px-3 w-100 z-99 end-0 top-0 dark-bg-color ml-header">
  <header-left-navbar></header-left-navbar>

  <!-- right side -->
  <div class="navbar-nav flex-row d-flex ml-auto d-flex align-items-center flex-row">
    <div class="d-flex gap-2 gap-md-1 align-items-center">
      <app-header-balance></app-header-balance>
      <div class="d-none d-md-block">
        <app-theme-btn></app-theme-btn>
      </div>
      <header-user-menu></header-user-menu>
    </div>
  </div>
</nav>