<div class="grid-wrapper" [@routerTransition]>
  <div class="rightTopOval"></div>
  <div class="middleBottomOval"></div>
  <img class="rightAbstract" src="/assets/img/Vector.svg" />
  <img class="leftAbstract" src="/assets/img/Vector.svg" />
  <h4 class="pwdText">Powered by <span>Autviz Solutions</span></h4>

  <!-- left -->
  <!-- Image and Content -->
  <div class="leftContainer">

    <div class="logoContainer">
      <img src="../../assets/img/Logo/light-logo.svg" class="d-none d-md-block sidebar-logo light-logo fixlogo"
        alt="Logo">
      <img src="../../assets/img/Logo/dark-logo.svg" class="d-none d-md-block sidebar-logo dark-logo fixlogo"
        alt="Logo" />
    </div>
    <img src="../../assets/img/Logo/dark-logo.svg" class="d-block d-md-none fixlogo" alt="Logo" />



    <div class="accountContent">
      <h4>Smart AI Assistance</h4>
      <p>Unlock the power of AI to automate tasks, manage workflows, and boost productivity effortlessly.</p>
    </div>

    <div class="entryImage-container">
      <img src="/assets/img/account-img.svg" alt="...">
    </div>

  </div>




  <!-- right -->
  <!-- Form Container -->

  <div class="rightContainer">
    <div class="btnContainer d-none d-md-block">
      <app-theme-btn></app-theme-btn>
    </div>

    <div class="form-container">
      <h4 class="mb-3 fw-semibold fw-5">{{ "Forgot Password" | localize }}</h4>

      <form class="w-100 mt-4" novalidate autocomplete="off" #ForgetPasswordForm="ngForm">
        <div class="user-group">
          <i class="far fa-envelope highlight-text pt-1"></i>
          <input type="email" class="custom-input" name="userNameOrEmailAddress" [(ngModel)]="userNameOrEmailAddress"
            (keyup)="checkEmailValidation()" [placeholder]="'Enter Email Address' | localize" required
            #userNameOrEmailAddressModel="ngModel" #userNameOrEmailAddressEl [disabled]="isEmailFieldDisabled" />
        </div>

        <abp-validation-summary [control]="userNameOrEmailAddressModel" [controlEl]="userNameOrEmailAddressEl">
        </abp-validation-summary>
        <div class="" [hidden]="isEmailFieldDisabled">
          <button class="btn gradient-btn btn-block mt-3" [disabled]="!emailValid" (click)="SendOTP(); hideOTPField()">
            {{ "Send OTP" }}
          </button>
        </div>

        <div class="form-group mt-2" *ngIf="isOTPFieldHidden">
          <!-- <i class="fal fa-lock input-icon highlight-text"></i> -->
          <input type="text" style="text-align: center;" class="custom-input" name="userOtpForm" [(ngModel)]="userOtp"
            [disabled]="userNameOrEmailAddressEl.value === ''" [placeholder]="'Enter OTP Code' | localize" required
            maxlength="6" #userOTPFormModel="ngModel" #userOTPFormEl (keyup.enter)="onSubmitOTP()" />
        </div>
        <div class="text-right mt-1 mb-3 otp" *ngIf="isOTPFieldHidden" type="submit" (click)="ResendOTP()">
          <b class="text-color">{{ "Resend OTP" }}</b>
        </div>

        <div *ngIf="isOTPFieldHidden">
          <button class="btn gradient-btn btn-block" (click)="send()"
            [disabled]="!userOtp || userOtp.trim().length !== 6">
            {{ "Submit" }}
          </button>
        </div>
        <p class="mb-1 d-flex align-items-center nothaveaccount text-center fw-normal justify-content-center mt-1">
          <a [routerLink]="['../login']" class="ml-1 fw-500">
            {{ "Back To Login" | localize }}
          </a>
        </p>
      </form>
    </div>

  </div>
</div>