.img-bg-object {
    position: absolute;
    top: 3px;
    right: 20px;
    width: 142px;
    object-fit: contain;
}

.no-data-found {
    text-align: center;
    font-size: 18px;
    color: #888;
    padding: 20px;
}

.table-card {
    overflow: hidden;
}