<div class="px-3 py-4">
  <div class="content-fluid">
    <div class="header-container-secondary">
      <h1 class="page-heading">Update Password</h1>
      <img src="/assets/img/card-bg/update-password.png" alt="..." class="img-bg-object">
    </div>

    <div class="table-card px-3 py-4">
      <form (ngSubmit)="onSubmit()" #updatePasswordForm="ngForm" novalidate class="row">
        <!-- Current Password -->
        <div class="col-12 col-md-6 mb-2">
          <label for="currentPassword">Current Password</label>
          <div class="input-group">
            <input type="{{ currentPasswordVisible ? 'text' : 'password' }}" id="currentPassword"
              [(ngModel)]="updatePassword.currentPassword" name="CurrentPassword" class="custom-input"
              #currentPassword="ngModel" required minlength="6" />
            <div class="input-group-append">
              <button type="button" (click)="togglePasswordVisibility('current')" class="text-color py-1 px-2">
                <i class="fa" [ngClass]="currentPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
              </button>
            </div>
          </div>
        </div>
      
      <!-- New Password -->
<div class="col-12 col-md-6 mb-2">
  <label for="newPassword">New Password</label>
  <div class="input-group">
    <input type="{{ newPasswordVisible ? 'text' : 'password' }}" id="newPassword"
      [(ngModel)]="updatePassword.newPassword" name="NewPassword" class="custom-input" #newPassword="ngModel"
      required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$"  oncopy="return false;"  oncut="return false;" (paste)="onPaste($event)"/>
    <div class="input-group-append">
      <button type="button" (click)="togglePasswordVisibility('new')" class="text-color py-1 px-2">
        <i class="fa" [ngClass]="newPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
      </button>
    </div>
  </div>
  <div *ngIf="newPassword.invalid && newPassword.touched" class="error-message">
    New password is required and must be at least 8 characters long with at least one uppercase letter, one
    lowercase letter, and one number.
  </div>
   <div *ngIf="updatePassword.newPassword && updatePassword.currentPassword === updatePassword.newPassword" class="error-message">
    New password cannot be the same as the current password.
  </div>
</div>

<!-- Confirm Password -->
<div class="col-12 col-md-6 mb-2">
  <label for="confirmPassword">Confirm Password</label>
  <div class="input-group">
    <input type="{{ confirmPasswordVisible ? 'text' : 'password' }}" id="confirmPassword"
      [(ngModel)]="confirmPassword" name="confirmPassword" class="custom-input" #confirmPasswordField="ngModel"
      required [pattern]="updatePassword.newPassword" />
    <div class="input-group-append">
      <button type="button" (click)="togglePasswordVisibility('confirm')" class="text-color py-1 px-2">
        <i class="fa" [ngClass]="confirmPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
      </button>
    </div>
  </div>
  <div *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched" class="error-message">
    Confirm password does not match new password.
  </div>
</div>

        <div class="form-group d-flex justify-content-end">
          <button type="submit" [disabled]="updatePasswordForm.invalid " class="btn btn-primary ">Update
            Password</button>
        </div>
      </form>
    </div>

  </div>
</div>
<div *ngIf="isLoading" class="loader-container">
  <div class="loading-circle"></div>
</div>