.error-message {
    color: red;
    font-size: 12px;
}

.form-group {
    margin-bottom: 1rem;
}

button:disabled {
    background-color: #ccc;
}

.img-bg-object {
    position: absolute;
    top: 1px;
    right: 20px;
    width: 120px;
    object-fit: contain;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.loading-circle {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}



.custom-input {
    border-radius: .4rem !important;
    background: transparent;
    border: 1px solid var(--border-color);
    font-size: 12px;
    color: var(--textColor) !important;
    text-transform: capitalize;
    width: 100%;
    min-height: 38px;
    padding: 6px 12px;

    &::placeholder {
        font-size: 12px;
        color: var(--light-textColor);
        text-transform: capitalize;
    }

    &:is(:-webkit-autofill, :autofill) {
        background: transparent !important;
        border: 1px solid var(--border-color) !important;
    }


    &:focus,
    &:focus-visible,
    &:target {
        outline: none;
        box-shadow: none;
    }
}

.input-group-append {
    position: absolute;
    right: 0;
    top: 2px;

    button {
        background: transparent !important;
        border: 0 !important;
    }
}